<!-- <div class="contact-banner"></div> -->
<section class="cmspage mtb-40">
    <div class="container text-center" >
      <div class="page-desc ">
        <div class="row justify-content-center">
          <div class="col-md-8 mt-5">
            <h1><span class="contact_heading" style="border-bottom: 2px solid #386576;">Do Contact!</span></h1>
            <form [formGroup]="form" (ngSubmit)="sendmessage()" >
              <input type="text"  formControlName="name" class="form-control mt-4" placeholder="Name">
              <input type="text"  formControlName="mail" class="form-control mt-4" placeholder="E-Mail">
              <input type="text" formControlName="phone" class="form-control mt-4" placeholder="Phone">
              <textarea  rows="5" formControlName="message" class="form-control mt-4" placeholder="Message"></textarea>
              <button class="btn btn-danger mt-4 shadow-lg" style="background:#fcc975; border:0; padding: 12px 26px;">Send Message</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</section>
