<section class="dashboard-wrap mtb-40 ">
    <div class="container ">
        <div class="body-content ">
            <div class="row mt-5">
                <div class="col-md-3 ">
                    <app-sidebar></app-sidebar>   
                </div>
                <div class="col-md-9">
                    <div class="dash-right">
                        <div class="dash-header mt-5">
                            <div class="dash-title">
                                <h1 style="color:#029477;">Blogs</h1>
                            </div>
                            <div class="dash-nav">
                                <a routerLink="/admin-createblog" class="btn btn-info mt-4 mb-3">Add Post</a>
                            </div>
                        </div>
                        <table class="table table-bordered table-striped">
                            <tr style="background-color: #029477; color:white;" class="table text-center">
                                <th>ID No.</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Message</th>
                            </tr>
                            <tr  class="text-center table">
                                <td>{{dataview.id}}</td>
                                <td>{{dataview.name}}</td>
                                <td>{{dataview.mail}}</td>
                                <td>{{dataview.phone}}</td>
                                <td>{{dataview.message}}</td>
                            </tr>
                        </table>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>