<div class="container bg-info text-white mb-5">
    <h1 class="text-center mt-5 text-white bg-primary">EDIT ABOUT</h1>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 mt-5">
            <form [formGroup]="form" (ngSubmit)="editupdate()">
                <div class="mb-3">
                    <label>Description:</label>
                    <br />
                    <textarea class="form-control" formControlName="description"></textarea>
                </div>
                <button type="submit" class="btn btn-danger mb-4 text-white rounded-pill">
                    Update
                </button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>