<section class="dashboard-wrap mtb-40 ">
    <div class="container ">
        <div class="body-content ">
            <div class="row ">
                <div class="col-md-3 ">
                    <app-sidebar></app-sidebar> 
                </div>
                <div class="col-md-9">
                    <div class="dash-right">
                        <div class="dash-header">
                            <div class="dash-title">
                                <h1>Blogs</h1>
                            </div>
                            <div class="dash-nav">
                                <a routerLink="admin-createblog" class="btn btn-danger">Add Post</a>
                            </div>
                        </div>
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th>#ID</th>
                                <th>Image</th>
                                <th>Title</th>
                                <th>Category</th>
                                <th>Posted On</th>
                                <th>Action</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td><img src="assets/images/img1.jpg" ></td>
                                <td>Sample blog post 1</td>
                                <td>Technology</td>
                                <td>October 22, 2018</td>
                                <td>
                                    <a href="#" class="btn btn-info btn-sm" style="background:brown;">Edit</a>
                                    <a href="#" class="btn btn-danger btn-sm" style="background:brown;">Delete</a>
                                </td>
                            </tr>
                            
                        </table>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</section>