<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap" rel="stylesheet">
<section class="banner">
    <div class="banner-box">
        
    </div>
</section>
<section class="featured-blog mt-5">
    <div class="container">
        <div class="row mb-4">

            <div class="col-md-4" *ngFor="let d of data">
                <div class="blog-box ">
                    <img src="assets/images/img1.jpg" alt="blog1" />
                    <h3>{{d.title}}</h3>
                    <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
                    <p>{{d.description}}</p>
                    <a [routerLink]="['/detail/',d.id]" class="btn btn-danger">Read more...</a>
                </div>
            </div>
        </div>
    </div>
    
</section>