<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap" rel="stylesheet">
<section class="banner">
    <div class="banner-box">
        
    </div>
</section>
<section class="featured-blog mt-5">
    <div class="container">
        <div class="row mb-4">
            <div class="col-md-4 ">
                <div class="blog-box ">
                    <img src="assets/images/img1.jpg" alt="blog1" />
                    <h3>Sample blog post 1</h3>
                    <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <a [routerLink]="['/detail/',1]" class="btn btn-danger">Read more...</a>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="blog-box ">
                    <img src="assets/images/img2.jpg" alt="blog1">
                    <h3>Sample blog post 2</h3>
                    <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <a [routerLink]="['/detail/',2]" class="btn btn-danger">Read more...</a>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="blog-box ">
                    <img src="assets/images/img3.jpg" alt="blog1">
                    <h3>Sample blog post 3</h3>
                    <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <a [routerLink]="['/detail/',3]" class="btn btn-danger">Read more...</a>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="blog-box ">
                    <img src="assets/images/img4.jpg" alt="blog1">
                    <h3>Sample blog post 4</h3>
                    <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <a [routerLink]="['/detail/',4]" class="btn btn-danger">Read more...</a>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="blog-box ">
                    <img src="assets/images/img5.jpg" alt="blog1" />
                    <h3>Sample blog post 5</h3>
                    <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <a [routerLink]="['/detail/',5]" class="btn btn-danger">Read more...</a>
                </div>
            </div>
            <div class="col-md-4 ">
                <div class="blog-box ">
                    <img src="assets/images/img6.jpg" alt="blog1" />
                    <h3>Sample blog post 6</h3>
                    <p>by <span>RSGiTECH</span> on <span>October 22, 2018</span></p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                    <a class="btn btn-danger" [routerLink]="['/detail/',6]">Read more...</a>
                </div>
            </div>
        </div>
    </div>
    
</section>